.dashboard-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 80vh;
  margin-left: 3rem;
  width: 100%;
  background-color: #1a2a41;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  color: #384c6b;
  font-weight: 700;
  text-align: center;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 0rem;
  gap: 1.5rem 1.5rem;
  margin: 0 auto;
  width: 100%;
  height: 85%;
}

.dashboard-box {
  padding: 1rem;
  border-radius: 10px;
  background-color: #384c6b;
  text-align: center;
  max-width: 90%;
  min-width: 18.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-box h2 {
  padding: 0;
  margin: 0;
  color: #1a2a41;
}

.dashboard-box p {
  margin: 0;
  padding: 0;
  color: #1a2a41;
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-box span {
  margin: 0;
  padding: 0;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 2.2rem;
}

.dashboard-box .dashboard-primary-price {
  padding: 0;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 3rem;
}

.dashboard-primary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.dashboard-second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

@media screen and (max-width: 1795px) {
  .dashboard-container {
    margin-left: 2rem;
    width: 95%;
  }

  .dashboard-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1445px) {
  .dashboard-container {
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1048px) {  /* aqui é o tamanho pra colocar o navbar mobile */
  .dashboard-container {
    height: 95%;
    margin-right: 2rem;
  }

  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem 0rem;
  }

  .dashboard-box {
    max-width: 100%;
  }
}
