.products-container {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 80vh;
  margin: auto 0;
  margin-left: 3rem;
  width: 80%;
}

.product-form {
  background-color: #1a2a41;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: .5rem 2rem;
  width: 25%;
}

.product-title {
  color: #384c6b;
  font-weight: 700;
  text-align: center;
}

.form-title {
  border-bottom: 1px solid #1a2a41;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}

.form-title h2 {
  color: #F7F7F7;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}

.product-form .form-box {
  background-color: #384c6b;
  border-radius: 10px;
}

.product-form .form-box input {
  color: black;
  background-color: #F7F7F7;
}

.product-form .form-group {
  padding: .0rem 1rem;
  color: #1a2a41;
  font-size: 1rem;
  font-weight: bold;
}

.product-form label {
  display: block;
}

.product-form input,
.product-form select {
  display: flex;
  width: 97%;
  padding: 1rem .5rem;
  margin: 0 auto;
  margin-top: .2rem;
  margin-bottom: .8rem;
  border: none;
  border-radius: 6px;
  outline: none;
}

.product-form select {
  width: 100%;
  margin: 0 auto;
}

.product-form .form-btn {
  display: flex;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
  justify-content: flex-end;
  margin-top: .5rem;
}

.product-form button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: #1a2a41;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product-form button span {
  padding-top: .1rem;
  color: #F7F7F7;
  font-size: 1rem;
  font-weight: bold;
}

.product-form button:hover {
  background-color: #1a2a41ab;
}

.product-box{
  background-color: #1a2a41;
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-left: 1rem;
  border-radius: 10px;
}

.product-box h1{
  color: #384c6b;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.8rem 1rem 1.3rem;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-direction: column;
  max-height: 85%; /* Define a altura máxima da área rolável */
  overflow-y: auto; /* Ativa a rolagem apenas para os produtos */
  width: 95%;
  border-radius: 10px;
  color: #F7F7F7;
  margin: 0 auto;
  background-color: #384c6b;
}

.product-header, .product-item {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 1fr; /* 1fr para cada coluna de produto */
  gap: 10px;
  align-items: center;
}

.product-header {
  position: sticky;
  top: 0;
  background-color: #384c6b;
  z-index: 1; /* Garante que o título da coluna fique acima da lista de produtos */
  padding: 10px;
  font-weight: 700;
  color: #F7F7F7;
  border-bottom: 1px solid #1a2a41;
  align-items: flex-end;
}

.product-item {
  padding: .8rem;
  border-bottom: 1px solid #1a2a41;
}

.product-item span {
  overflow: hidden;
  text-overflow: ellipsis; /* Garante que o texto não ultrapasse o limite da célula */
  white-space: nowrap;
}

.actions {
  display: flex;
  gap: .5rem;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 0;
}

.error-message { 
  background-color: #66070d;
  color: #F7F7F7;
  margin: 0 auto;
  width: 50%;
  padding: 1rem .5rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: .8rem;
  animation: fadeIn 0.3s ease-in-out;
}

.error-message {
  visibility: hidden; /* Oculta sem remover o espaço */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.error-message.active {
  visibility: visible; /* Torna visível quando necessário */
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}